@import "./__logo/header__logo.css";
@import "./__link/header__link.css";
@import "./__email/header__email.css";
@import "./__auth/header__auth.css";
@import "./__burger/header__burger.css";
@import "./__nav/header__nav.css";
@import "./__link/_signout/header__link_signout.css";
@import "./__auth/_opened/header__auth_opened.css";
@import "./__burger/_close/header__burger_close.css";

.header {
  border-bottom: 1px solid #545454;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  justify-content: space-between;
}

@media screen and (max-width: 590px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "bottom";
  }
}

@media screen and (max-width: 425px) {
  .header {
    font-size: 12px;
    padding-bottom: 30px;
  }
}
